In [2]:
# loop through the letters in the string banana

for letter in "banana":
    print(letter)

b
a
n
a
n
a

In [3]:
# you can break the loop with an if condition and break statement

for letter in "banana":
    print(letter)
    if letter == "n":
        print("goodbye")
        break

b
a
n
goodbye

In [3]:
letters = []

for l in "banana":
    print(l)
    print("The list before append:", letters)
    letters.append(l)
    print("The list after append:", letters)
    if letters.count("a") == 2:
        break

b
The list before append: []
The list after append: ['b']
a
The list before append: ['b']
The list after append: ['b', 'a']
n
The list before append: ['b', 'a']
The list after append: ['b', 'a', 'n']
a
The list before append: ['b', 'a', 'n']
The list after append: ['b', 'a', 'n', 'a']

In [25]:
letters.count("n")

2

In [20]:
fruit_name = ['orange', 'strawberries']
letter = "r"

for f in fruit_name:
    print(f)

orange
strawberries

In [ ]:
# challenge: how do you break the loop on the second appearance of n?

In [10]:
# code to exit on the second appearance of the letter

letters = []

for letter in "banana":
    print(letter)
    letters.append(letter)
    if letter == "n" and letters.count(letter) == 2:
        break

b
a
n
a
n

In [7]:
# you can also loop over the range function

for number in range(2, 60, 10):
    print(number)

2
12
22
32
42
52

In [15]:
for n in range(6):
    print(n)

0
1
2
3
4
5

In [7]:
adj = ["tasty", "big", "fresh"]
fruits = ["mangoes", "oranges"]

for a in adj:
    print("----")
    print(a)
    for f in fruits:
        print(f)

----
tasty
mangoes
oranges
----
big
mangoes
oranges
----
fresh
mangoes
oranges

In [9]:
# loop through a list and print the results

num_list = [68, 76, 78]

for n in num_list:
    print(n*10.5)

714.0
798.0
819.0

In [17]:
# if you want to loop through the list and store this information as a variable

num_list = [6, 8, 7, 8, 87, 98, 78]
new_list = [5 * n for n in num_list]
new_list

[30, 40, 35, 40, 435, 490, 390]