In [3]:
for letter in "bananananana":
    print(letter)

b
a
n
a
n
a
n
a
n
a
n
a

In [31]:
for letter in "banana":
    print(letter)
    if letter == "n":
        break

b
a
n
a
n
a

In [38]:
# CHALLENGE: How do you exit the loop on the second n?

letters = []

for l in "bananananananana":
    print(l)
    print("The list before append", letters)
    letters.append(l)
    print("The list after append", letters)
    if letters.count("n") == 3:
        break

b
The list before append []
The list after append ['b']
a
The list before append ['b']
The list after append ['b', 'a']
n
The list before append ['b', 'a']
The list after append ['b', 'a', 'n']
a
The list before append ['b', 'a', 'n']
The list after append ['b', 'a', 'n', 'a']
n
The list before append ['b', 'a', 'n', 'a']
The list after append ['b', 'a', 'n', 'a', 'n']
a
The list before append ['b', 'a', 'n', 'a', 'n']
The list after append ['b', 'a', 'n', 'a', 'n', 'a']
n
The list before append ['b', 'a', 'n', 'a', 'n', 'a']
The list after append ['b', 'a', 'n', 'a', 'n', 'a', 'n']

In [29]:
dummy = "Yo"

for d in dummy:
    print(d)

Y
o

In [13]:
for number in range(20, 100, 10):
    print(number)

20
30
40
50
60
70
80
90

In [22]:
fruits = ['apple', 'banana', 'pears', 'mangoes']
for fruit in fruits:
    print(f"I love {fruit}")

I love apple
I love banana
I love pears
I love mangoes

In [44]:
numbers = [5, 10, 15, 20, 67, 76, 78]

for n in numbers:
    print(5*n)

25
50
75
100
335
380
390

In [51]:
# create a new list that multiplies every item in the list

numbers = [5, 10, 15, 20]
new_list = [10*n for n in numbers]
new_list

[50, 100, 150, 200]