In [3]:
import streamlit as st
from pymongo.mongo_client import MongoClient

In [4]:
# making my connection to MongoDB
def connect_to_mongo():
    # load the user and db password from the secrets.toml file
    user = st.secrets['username']
    db_password = st.secrets['password']

    # This is our database connection string, for a cluster called tb-ii
    uri = f"mongodb+srv://{user}:{db_password}@tb-ii.guzgo.mongodb.net/?retryWrites=true&w=majority&appName=TB-II"

    # Let's connect to our MongoClient
    client = MongoClient(uri)

    return client

In [6]:
client = connect_to_mongo()

In [17]:
# define where we want to read the data
db_name = 'streamlit'
collection_name = 'user_registration_data'

db = client[db_name]
collection = db[collection_name]

In [18]:
list(collection.find())

[{'_id': ObjectId('6744d144c4f6e4b1420ef736'),
  'username': 'shaq',
  'password': '1',
  'name': 'Sarah Haq',
  'age': 180,
  'created_at': datetime.datetime(2024, 11, 25, 20, 34, 28, 360000)},
 {'_id': ObjectId('6744d1a1c4f6e4b1420ef737'),
  'username': 'shaq',
  'password': '1',
  'name': 'Sarah Haq',
  'age': 180,
  'created_at': datetime.datetime(2024, 11, 25, 20, 36, 1, 295000)},
 {'_id': ObjectId('6744d5914e7029cc4deaef3b'),
  'username': 's',
  'password': '1',
  'name': 'Sarah Haq',
  'age': 36,
  'pet': 'fish',
  'created_at': datetime.datetime(2024, 11, 25, 20, 52, 49, 978000)},
 {'_id': ObjectId('6744d59c4e7029cc4deaef3c'),
  'username': 's2',
  'password': '1',
  'name': 'Sarah Haq',
  'age': 1800,
  'pet': 'fish',
  'created_at': datetime.datetime(2024, 11, 25, 20, 53, 0, 225000)},
 {'_id': ObjectId('6744d5a94e7029cc4deaef3d'),
  'username': 's4',
  'password': '1',
  'name': 'Sarah',
  'age': 36,
  'pet': 'rabbit',
  'created_at': datetime.datetime(2024, 11, 25, 20, 53, 13, 409000)}]

In [19]:
import pandas as pd

user_data = pd.DataFrame(list(collection.find()))

In [20]:
user_data

,_id,username,password,name,age,created_at,pet
0,6744d144c4f6e4b1420ef736,shaq,1,Sarah Haq,180,2024-11-25 20:34:28.360,NaN
1,6744d1a1c4f6e4b1420ef737,shaq,1,Sarah Haq,180,2024-11-25 20:36:01.295,NaN
2,6744d5914e7029cc4deaef3b,s,1,Sarah Haq,36,2024-11-25 20:52:49.978,fish
3,6744d59c4e7029cc4deaef3c,s2,1,Sarah Haq,1800,2024-11-25 20:53:00.225,fish
4,6744d5a94e7029cc4deaef3d,s4,1,Sarah,36,2024-11-25 20:53:13.409,rabbit

In [21]:
user_names = list(user_data.username)

In [22]:
user_names

['shaq', 'shaq', 's', 's2', 's4']

In [24]:
user_name = 'shaq123'

if user_name in user_names:
    print("USER NAME ALREADY EXISTS")
else:
    print("User name created")

User name created