In [1]:
# connect to the mongo cluster

def connect_to_mongo():
    # load the user and db password from the secrets.toml file
    user = st.secrets['username']
    db_password = st.secrets['password']

    # This is our database connection string, for a cluster called tb-ii
    uri = f"mongodb+srv://{user}:{db_password}@tb-ii.guzgo.mongodb.net/?retryWrites=true&w=majority&appName=TB-II"

    # Let's connect to our MongoClient
    client = MongoClient(uri)

    return client

In [3]:
import streamlit as st
from pymongo.mongo_client import MongoClient

In [4]:
client = connect_to_mongo()

In [5]:
# connect to collection
# define the database
db_name = 'streamlit'
# define the collection
collection_name = 'user_registration_data'

# connect to the collection
db = client[db_name]
collection = db[collection_name]

In [13]:
# list(collection.find())

In [20]:
import pandas as pd

# this reads data from the collection and converts it into a dataframe
user_data = pd.DataFrame(list(collection.find()))

In [21]:
user_data.head()

,_id,username,password,name,age,created_at,pet
0,6744d1a1c4f6e4b1420ef737,shaq,1,Sarah Haq,180,2024-11-25 20:36:01.295,NaN
1,6744d5914e7029cc4deaef3b,s,1,Sarah Haq,36,2024-11-25 20:52:49.978,fish
2,6744d59c4e7029cc4deaef3c,s2,1,Sarah Haq,1800,2024-11-25 20:53:00.225,fish
3,6744d5a94e7029cc4deaef3d,s4,1,Sarah,36,2024-11-25 20:53:13.409,rabbit
4,6745b634e50bcaff395a7d55,shaq1,1,,18,2024-11-26 12:51:16.354,

In [22]:
user_data.shape

(6, 7)

In [23]:
usernames = list(user_data.username)
usernames

['shaq', 's', 's2', 's4', 'shaq1', 'shaq12']

In [24]:
user_name = "shaq1525"

if user_name in usernames:
    print("THIS USER NAME EXISTS")
else:
    print("New user created")

New user created