In [4]:
# crete my first variable

first_variable = 5.3

In [5]:
# view the variable

first_variable

5.3

In [6]:
# check the type of the variable

type(first_variable)

float

In [10]:
# overwrite the variable with another value

first_variable = 'John'

In [11]:
# view the variable

first_variable

'John'

In [12]:
# check the type

type(first_variable)

str

In [13]:
# variables are case sensitive

FIRST_VARIABLE = 56

In [14]:
# print the values of two different variables

print(first_variable)
print(FIRST_VARIABLE)

John
56

In [15]:
# you can't create variables that start with numbers

1variable = "Sarah"

SyntaxError: invalid decimal literal (3702977200.py, line 1)

In [16]:
# but can create variables that end with numbers

variable1 = "Sarah"

In [17]:
# you can't create variables that have spaces

variable 1 = "Sarah"

SyntaxError: invalid syntax (2026103325.py, line 1)

In [18]:
# create multiple variables
# option 1

fruit1 = "Orange" 
fruit2 = "Apple"
fruit3 = "Banana"

In [19]:
# option 2

fruit1, fruit2, fruit3 = "Orange", "Apple", "Banana"

In [20]:
print(fruit1)
print(fruit2)
print(fruit3)

Orange
Apple
Banana

In [22]:
fruit1, fruit2 = "Orange", "Apple"

In [26]:
fruit1 + ", " + fruit2

'Orange, Apple'

In [30]:
num1 = 67
num2 = 5

In [31]:
type(num1)

int

In [32]:
num1 + num2

72

In [34]:
fruit1 + num1

TypeError: can only concatenate str (not "int") to str

In [41]:
print("My favourite fruit is", fruit1, "and I want to buy", num1, "of these")

My favourite fruit is Orange and I want to buy 67 of these

In [40]:
f"My favourite fruit is {fruit1} and I want to buy {num2} of these"

'My favourite fruit is Orange and I want to buy 5 of these'