# Variables

In [5]:
# creating my first variable

first_variable = 5.7

In [8]:
# printing my first variable

print(first_variable)

5.7

In [7]:
# checking the type of my first variable

type(first_variable)

float

In [9]:
# overwriting my first variable

first_variable = "John"

In [10]:
# the first_variable variable contains a different value now

first_variable

'John'

In [11]:
# with a different data type

type(first_variable)

str

In [12]:
# variable names are case sensitive

FIRST_VARIABLE = "John Smith"

In [13]:
# if you want to print multiple variables you will need to use the print function

print(first_variable)
print(FIRST_VARIABLE)

John
John Smith

In [14]:
# example of an illegal variable

1variable = "Sarah"

SyntaxError: invalid decimal literal (3702977200.py, line 1)

In [15]:
# another example of an illegal variable

first variable = "Sarah"

SyntaxError: invalid syntax (4131164897.py, line 1)

In [17]:
# creating multiple variables
# option 1
fruit1 = "Apple"
fruit2 = "Banana"
fruit3 = "Cherry"

In [23]:
# option 2
fruit1, fruit2 = "Apple", "Banana"

In [38]:
# this prints only the last variable value

fruit1
fruit2
fruit3

'Cherry'

In [39]:
# if you want to print all three, in the same cell, you have to wrap print around them

print(fruit1)
print(fruit2)
print(fruit3)

Apple
Banana
Cherry

In [20]:
# or write them one by one..
fruit2

'Banana'

In [21]:
fruit3

'Cherry'

In [40]:
# if you + two variables that contain string, this will join the two words together

fruit1 + fruit2

'AppleBanana'

In [31]:
num1 = 5
num2 = 6

In [32]:
# if you + two variables that contain integers or float, it will add the two variables

num1 + num2

11

In [33]:
# however, python will not let you use + for variables of different data types

fruit1 + num1

TypeError: can only concatenate str (not "int") to str

In [34]:
# you could use print, however, to print the values of two variables of different data types

print(fruit1, num1)

Apple 5

In [35]:
# print the variable and some statement

print("my favourite fruit is", fruit1, "and I want to buy", num1, "of them")

my favourite fruit is Apple and I want to buy 5 of them

In [37]:
# f-string format

f"My favourite fruit is {fruit2} and I want to buy {num1} of them"

'My favourite fruit is Banana and I want to buy 5 of them'